body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.is-lam {
    display: flex;
    margin-bottom: 100px;
    background-image: url(images/Screenshot\ 2022.png);
    background-repeat: no-repeat;
    background-position: center left;
}


.half-widt {
    width: 100%;
    padding-left: 6%;
    padding-top: 5%;
}

.half-widt img {
    width: 80%;
    padding-left: 5%;
}

.link-botton {
    text-decoration: none;
    background-image: linear-gradient(black, red);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10PX;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.its-ok {
    padding-top: 3%;
}

.top-benar {
    background-image: url(sssh.png);
    background-repeat: no-repeat;
}

.cen-ter {
    width: fit-content;
    text-align: center;
    font-size: 30px;
}

.uk-us {
    color: rgb(236, 129, 83);
}

.we-we {
    padding-right: 20%;
}

.as-as {
    font-size: 50px;
}

.er-er {
    padding-top: 10%;
    padding-left: 0px;
    padding-right: 10%;
}

.sd-sd img {
    width: 60%;

}

.mn-mn {
    background-image: url(images/scs\ jl.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 0px;
}

.yz-yz {

    text-decoration: none;
    background-image: linear-gradient(black, blue);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10PX;
    color: white;
    font-weight: 700;
    border-radius: 5px;

}

.ja-hid {
    margin-left: 2%;
    font-size: 30px;
}

.to-meto {
    color: tomato;
}

.bl-ue {
    color: blue;
}

.md-md {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3%;
}

#ma-nna {
    border-left: 7px solid;
    border-image: linear-gradient(tomato);
    border-image-slice: 1;
}

#man-na {
    border-left: 7px solid;
    border-image: linear-gradient(orange);
    border-image-slice: 1;
}



footer p {
    text-align: center;
}