body {
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
}

.half-widt {
    width: 100%;
    padding-left: 6%;
    padding-top: 5%;
}

.half-widt img {
    width: 80%;
    padding-left: 5%;
}