body {
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
}

.half-widt {
    width: 100%;
    padding-left: 6%;
    padding-top: 5%;
}

.half-widt img {
    width: 80%;
    padding-left: 5%;
}

.link-botton {
    text-decoration: none;
    background-image: linear-gradient(black, red);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10PX;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.its-ok {
    padding-top: 3%;
}